.alert {
  border-radius: 4px;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: .75rem 1.25rem;
  margin: 1rem auto;
  position: relative;

  &__error {
    background: #FCDEE8;
    color: $error;
    text-align: center;
  }
}