// Global
@import "variables";
@import "reset";
@import "base";
@import "type";

// // Atoms
@import "buttons";
@import "card";
@import "form";
@import "progress";
@import "alerts";

// Styles
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue-light;
  padding: 0 16px;
}

.progress {
  position: relative;
  bottom: -15px;
}

.card {
  max-width: 400px;

  &__title {
    margin-top: 2rem;

    span {
      color: $green;
    }
  }

  &__text {
    margin-bottom: 2rem;

    strong {
      color: $gray-dark;
    }
  }

  .form {
    display: flex;
    flex-flow: row;

    &__input {
      font-weight: 600;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-left: 25px;
    }

    .ic-currency {
      content: "";
      color: $gray-medium;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .button__primary {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .alert__error {
    margin-bottom: 0;
  }
}

.button--reset {
  margin: 20px auto 0;
  display: block;
}
